
@model IEnumerable<BurgerHouse.Models.Categoria>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td class="btn-group">
                    <a class="btn" asp-action="Edit" asp-route-id="@item.CategoriaId">  <img width="20" src="~/images/editar.svg"></a> |
                    <a class="btn" asp-action="Details" asp-route-id="@item.CategoriaId"> <img width="20" src="~/images/lupa.svg"> </a> |
                    <a class="btn" asp-action="Delete" asp-route-id="@item.CategoriaId"> <img width="20" src="~/images/Delete.svg"></a>
            </td>
        </tr>
}
    </tbody>
</table>
