@model Pedido
<div class="container pt-2">
    <div class="mt-4 p-5 bg-info text-white rounded">
        <h2>@ViewBag.CheckoutCompletoMensagem</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <p>cliente: <strong>@Model.Nome</strong> </p>
            <p>data do pedido: <strong>@ViewBag.DataPedido</strong> </p>
            <p>numero do pedido: <strong>@Model.PedidoId</strong> </p>
            <table class="table">
                <tr>
                    <th> </th>
                    <th>quantidade </th>
                    <th>lanche </th>
                    <th> preço</th>
                </tr>
                @foreach (var item in Model.PedidoItens)
                {
                    <tr>
                        <td><img src="@item.Lanche.ImagemUrl" width="40" height="40" />  </td>
                        <td>@item.Quantidade</td>
                        <td>@item.Lanche.Nome</td>
                        <td>@item.Lanche.Preco.ToString("C2")</td>
                    </tr>
                }
            </table>
            <h4>valor total do pedido: <strong>@((ViewBag.TotalPedido).ToString("C2"))</strong></h4>
        </div>
    </div>
</div>
<div class="col-form-label" style="text-align:center">
    <h3>
        <a class="nav-link text-info" asp-controller="Home" asp-action="Index"> retornar</a>
    </h3>

</div>